html {background-color: black;
color: red;}
.divider {border-bottom: 2px red solid;}
h1 {font-size: 45px;}
.jojo ,.one-piece {font-size: 20px;
margin-left: 10px;
margin-top: 10px;}
.recommended {margin-top: 15px;}