html {background-color: black;
color: red;}
.red {color: red;}
button:hover {background-color: red;}
button {display: block;
background-color: black;
border-color: red;
margin-bottom: 25px;
color: white;}
#username ,#password ,#email ,#first-name ,#last-name ,#date {display: block;
margin-top: 1px;
margin-bottom: 5px;}
.divider {border-bottom: red 2px solid;}
.sr-only {position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0;}
form {margin-left: 50px;
margin-top: 50px;}
fieldset {width: 45%;}
.submit {font-size: 15px;
height: 60px;
width: 75px;
margin-top: 10px;}
a:hover {color: white;}
h1 {font-size: 45px;}