html {background-color: black;
color: red;}
.divider {border-bottom: 2px red solid;}
h1 {font-size: 45px;}
.jojo-pic {margin-left: 100px;
margin-top: 20px;
margin-right: auto;}
.jojo {margin-left: 200px;
margin-top: 100px;
font-size: 45px;}
h3 {font-size: 35px;
margin-left: 20px;}
.plot {font-size: 20px;
margin-left: 20px;}
.part-1 {margin-left: 10px;
font-size: 25px;}